
/* Your CSS Code here. */
.para1{
	background-color:green;
	width:16px;
	padding:20px;
}
.para2{
	background-color:red;	
	width:16px;
	padding:20px;
}
.para3{
	background-color:blue;	
	width:16px;
	padding:20px;
}
.para{
	background-color:green;
	width:16px;
	padding:20px;
}
.main{
	width:100px;
	display:flex;